[submodule "Home-appliance-control-AI"]
	path = Home-appliance-control-AI
	url = https://github.com/ACCS-R03TE4A/Home-appliance-control-AI.git
[submodule "Comfortable-temperature-AI"]
	path = Comfortable-temperature-AI
	url = https://github.com/ACCS-R03TE4A/Comfortable-temperature-AI.git
